<section class="container page-user-profile">
  <h1>Add Content</h1>

  <div class="add-content">
    <a href="/node/add/article"><button>Article</button></a>
    <a href="/node/add/page"><button>Basic Page</button></a>
    <a href="/node/add/campaign"><button>Campaign</button></a>
    <a href="/node/add/homepage"><button>Homepage</button></a>
    <a href="/node/add/pop_up"><button>Pop Up</button></a>
    <a href="/node/add/recipe"><button>Recipe</button></a>
    <a href="/admin/structure/webform"><button>Webform</button></a>
  </div>
</section>
