<section class="container">

  <div
  [attr.aria-label]="'Accordion: ' + accordion.heading"
  [attr.aria-expanded]="accordion.toggle"
  class="container cmpnt_accordion"
  [ngClass]="accordion.id ? 'accordion-section-' + accordion.id : ''">

    <mlcl-accordion-header
    [id]="accordion.id"
    [heading]="accordion.heading"
    [icon]="accordion.chevron"
    (accordionOpen)="accordionOpen(accordion)"></mlcl-accordion-header>

    <!--  Accordion Content -->
    <div
    *ngIf="accordion.toggle"
    class="cmpnt_accordion-items"
    [ngClass]="accordion.toggle?'atm_accordion-open':'atm_accordion-close'">

      <ng-container *ngFor="let division of divisions">
        <mlcl-grid-book
        *ngIf="division.divisionImprints.length"
        [data]="division.divisionImprints"
        [loading]="loading"
        [sortFlag]="false"
        [type]="imprints"
        [heading]="division.heading"></mlcl-grid-book>
      </ng-container>
    </div>
  </div>

</section>
