<section class="container" *ngIf="isLoaded">
  <!-- heading -->
  <h2 class="mlcl_grid-header">{{heading}}</h2>

  <!-- list -->
  <div class="cmpnt_event cmpnt_paragraph-narrow">
    <mlcl-event-list-item
    class="mlcl_award-event"
    [type]="'event'" [content]="event"
    *ngFor="let event of data"></mlcl-event-list-item>
  </div>

  <!-- no result message -->
  <p *ngIf="noResultFlag">No events at this time</p>

  <!-- view all link -->
  <div class="atm_load-more">
    <atm-button
    *ngIf="viewAllFlag"
    [label]="'View All Events'"
    [classes]="'atm_alt-btn'"
    (clicked)="redirect($event)"></atm-button>
  </div>
</section>
