// Links
a {
  font-family: FortMedium, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-decoration: underline;
  color: $extraDarkGrey;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease;

  @include breakpoint($mediumScreen) {
    &:hover {
      text-decoration-color: $penguinOrange;
    }
  }
}
