ul {
  font-family: $bodyFont;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-left: $extraSmallSpace;
  @include breakpoint ($mediumScreen) {
    margin-left: $mediumSpace;
  }

  li {
    padding: 0;
    margin: $extraSmallSpace 0;
    margin-left: 1em;
    list-style-type: none;

    &::before {
      position: absolute;
      font-family: $fontBold;
      content: "•";
      margin-left: -1em;
    }

    strong,
    b {
      font-family: $fontMedium;
      font-style: bold;
    }

    em,
    i {
      font-style: italic;
    }
  }
}
