<section class="container">
  <div class="cmpnt_paragraph-narrow">
    <p>
      Penguin Random House Canada is the Canadian division of Penguin Random House. The Canadian imprints include Allen Lane, Anchor Canada, Appetite by Random House, Bond Street Books, Doubleday Canada, Hamish Hamilton Canada, Knopf Canada, McClelland & Stewart, Penguin Canada, Penguin Teen, Portfolio Canada, Puffin Canada, Random House Canada, Signal, Strange Light, Tundra Books, Viking Canada and Vintage Canada. In addition to trade publishing under these imprints, Penguin Random House Canada also distributes books from our sister imprints in the U.S. and the U.K.
    </p>
    <p>
      Penguin Random House, the world’s largest trade book publisher, is dedicated to its mission of nourishing a universal passion for reading by connecting authors and their writing with readers everywhere. The company, which employs more than 10,000 people globally, was formed on July 1, 2013, by Bertelsmann and Pearson, who own 53 percent and 47 percent, respectively. With nearly 250 independent imprints and brands on five continents, Penguin Random House comprises adult and children’s fiction and nonfiction print and digital English- and Spanish-language trade book publishing businesses in more than 20 countries worldwide. With over 15,000 new titles, and close to 800 million print, audio and eBooks sold annually, Penguin Random House’s publishing lists include more than 60 Nobel Prize laureates and hundreds of the world’s most widely read authors.
    </p>
  </div>
</section>

<category-grid [data]="aboutPageData"></category-grid>
